<div class="container">
    <div class+="row justify-content-center">
        <div class="col-sm-12">
            <%= simple_form_for [@project, @task] do |f| %>
                <%=f.input :title %>
                <%=f.input :description %>
                <%=f.input :is_done, as: :boolean %>
                <%=f.input :file, as: :file %>

                <% if @task.file.attached? %>
                    <%= f.input :remove_file, as: :boolean %>
                <% end %>
                <div class="form-check">
                    <% Tag.where(user_id:current_user).each do |tag| %>
                        <%= check_box_tag "task[tag_ids][]", tag.id, @task.tag_ids.include?(tag.id), class: "form-check-input" %>
                        <span class="badge badge-pill badge-info"><%= tag.title %></span>
                        <br />
                    <% end %>
                </div>
                <%=f.submit class: "btn btn-primary btn-sm"%>
            <% end %>
        </div>
    </div>
</div>
