<div class="container">
    <div class+="row justify-content-center">
        <div class="col-sm-12">
            <%= form_tag index_done_project_tasks_path, class: "form-inline", method: :get do %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a task"
            %>
            <%= submit_tag "Search", class: "btn btn-outline-primary my-2 my-sm-0" %>
            <% end %>
            <br>
            <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'All', project_tasks_path, class: "btn btn-dark btn-sm" %>
            <%= link_to 'Done', index_done_project_tasks_path, class: "btn btn-dark btn-sm" %>
            <%= link_to 'Not done', index_not_done_project_tasks_path, class: "btn btn-dark btn-sm" %>
            </div>

            <%= link_to 'new task', new_project_task_path, class: "btn btn-primary btn-sm" %>
            <h2>Project: <%= @project.title%>  </h2>
            <h3>Tasks:</h3>
            <% @tasks.each do |task| %>
                <p>
                    <strong>Title: </strong> <%= link_to highlight(task.title, params[:query]), project_task_path(@project, task), class: "btn btn-outline-dark btn-sm "%>
                    <%= link_to 'edit', edit_project_task_path(@project, task), class: "btn btn-primary btn-sm" %>
                    <%= link_to 'delete', task_path(task), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Are ty jsi you sure to delete? That's very final decisin you know ... ðŸ§Â "} %>
                    <div>
                        <strong>Description: </strong><%= task.description %> 
                    </div>
                    <div>
                        <%=link_to "Status", update_status_done_project_task_path(@project, task), class: "btn btn-primary btn-sm", method: :patch%>
                        <% if task.is_done%>
                            <strong>done</strong>
                        <% else %>
                            <strong>not done</strong>
                        <% end %>                        
                    </div>
                    <% task.tags.each do |task_tag| %>
                        <span class="badge badge-pill badge-info"> <%= task_tag.title %></span>
                    <% end %>
                </p>
            <% end %>

            <p><%= link_to 'back', project_path(@project), class: "btn btn-dark btn-sm" %> </p>
            <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
            <%== pagy_bootstrap_nav(@pagy) %>
        </div>
    </div>
</div>