<% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
    </div>
<% end %>



<div class="container">
    <div class+="row justify-content-center">
        <div class="col-sm-12">
            <p>
            <h3>Project: <%= @task.project.title%></h3>
                <strong>Task:</strong>
                <%= @task.title%>
                <%= link_to 'edit', edit_project_task_path, class: "btn btn-primary btn-sm" %> 
            </p>
            <p>  
                <strong>Description: </strong>
                <%= @task.description %>
            </p>  
            <p>
                <div>  
                        <%=link_to "Status", update_status_show_project_task_path(@task.project, @task), class: "btn btn-primary btn-sm", method: :patch%>
                        <% if @task.is_done%>
                            <strong>done</strong>
                        <% else %>
                            <strong>not done</strong>
                        <% end %>                        
                </div>
                <div>
                    <p>
                    <br>
                    <% if @task.file.image? %>
                        <%= image_tag url_for(@task.file)%></p>
                    <% else %>
                        <% if @task.file.attached? %>
                            File Uploaded
                        <% else %>
                            No file added.
                        <% end%>
                    <% end%>
                </div>
            </p>
            <p>
            <strong>All the assigned tags: </strong>
            </p>
            <p>
                <% @task.tags.each do |task_tag| %>
                    <span class="badge badge-pill badge-info"><%= task_tag.title %></span>
                <% end %>
            </p>
            <%= link_to 'back', project_tasks_path, class: "btn btn-dark btn-sm" %> 
            <%= link_to 'new task', new_project_task_path, class: "btn btn-primary btn-sm" %>
            <%= link_to 'delete task', task_path(@task), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Are ty jsi you sure to delete? That's very final decisin you know ... ðŸ§Â "} %>
        </div>
    </div>
</div>