<h1>Concrete one task of one concrete project </h1>
<p>
    <strong>Task title:</strong>
    <%= @task.title%> 
</p>
<p>  
    <strong>Description: </strong>
    <%= @task.description %>
</p>  

<p>  
    <strong>Is the task done? : </strong>
    <%= @task.is_done %>
</p> 


<%= link_to 'back', project_tasks_path, class: "btn btn-primary" %> 
<%= link_to 'edit task', edit_project_task_path, class: "btn btn-primary" %> 
<%= link_to 'delete task', task_path(@task), class: "btn btn-primary", method: :delete, data: {confirm: "Are ty jsi you sure to delete? That's very final decisin you know ... ðŸ§Â "} %>
<%= link_to 'new task', new_project_task_path, class: "btn btn-primary" %>