<% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
    </div>
<% end %>


<div class="container">
    <div class+="row justify-content-center">
        <div class="col-sm-12">
            <%= simple_form_for @tag do |f| %>    
                <%=f.input :title %>
                <%=f.submit %>
            <% end %>
        </div>
    </div>
</div>
