<h1>
    My projects <%= link_to "Create new tag", new_tag_path, class: "btn btn-primary" %> 
</h1>
<h1>All the tags of one concrete user</h1>
<% @tags.each do |tag| %>
    <p>
        <span class="badge badge-pill badge-info"><%= tag.title %></span>
        <%= link_to 'edit', edit_tag_path(tag), class: "btn btn-primary btn-sm" %> 
        <%= link_to 'delete', tag_path(tag), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Are ty jsi you sure to delete? That's very final decisin you know ... ðŸ§Â "} %> 
    </p>
<% end %>

<%= link_to 'back to projects', dashboard_path, class: "btn btn-dark btn-sm" %> 

<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<%== pagy_bootstrap_nav(@pagy) %>